Source: pytss
Maintainer: Matthew Garrett <matthew.garrett@nebula.com>
Section: python
Priority: optional
Build-Depends: python-setuptools (>= 0.6b3), python-all (>= 2.6.6-3), debhelper (>= 7), python-cffi, libtspi-dev, python-dev
Standards-Version: 3.9.1

Package: python-pytss
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, python-pyasn1
Description: Python binding to libtspi

